#detail-event {
    width: 100%;
    min-height: calc(100vh - 85px);
    padding: 85px 0 0 0;
    background: linear-gradient(35deg, $fifth-color, $fourth-color, $third-color, $second-color, $first-color);
    .container-detail-event {
        background-color: white;
        margin: 50px auto;
        box-shadow: 8px 8px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.18);
        max-width: 1320px;
        width: calc(100% - 325px);

        border-radius: 20px;
        display: flex;
        min-height: 700px;
        .content {
            padding: 35px;
            width: 100%;
            height: 100%;
            header {
                display: flex;
                .illustration {
                    overflow: hidden;
                    width: 60%;
                    height: 300px;
                    background-color: grey;
                }
                .profil_user {
                    border: 1px solid #ccc;
                    border-radius: 12px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    margin: 0 auto;

                    .body {
                        padding: 25px 15px 15px 15px;
                        .picture {
                            background-color: yellowgreen;
                            width: 40px;
                            height: 40px;
                            border-radius: 2rem;
                            margin: 0 auto;
                        }
                        text-align: center;
                        .username {
                            font-weight: bold;
                            font-size: 18px;
                        }
                    }
                    footer {
                        padding: 15px;
                        button.btn {
                            display: block;
                            border: none;
                            border-radius: 8px;
                            color: white;
                            background-color: $main-violet;
                            font-family: "Montserrat";
                            padding: 8px 25px;
                            margin: 0 auto;
                            cursor: pointer;
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
            .detail {
                padding-top: 15px;
                h1 {
                    margin-top: 0;
                }
            }
        }
        .map {
            min-width: 400px;
            max-width: 400px;
            border-radius: 0 20px 20px 0;
        }
    }
}
