$main-color-text: #304973;

#root {
  font-family: "Montserrat";
}

.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-rounded-100 {
  background-color: transparent;
  color: white;
  border-radius: 2rem;
  border: 1px solid white;
  padding: 8px 25px;
  font-size: 18px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.btn-violet {
  transition: 0.4s;
  &:hover {
    background-color: white;
    color: #9c5fd4;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.3);
  }
}

//header
.opaque-nav-bar {
  background-color: white;
  .item-nav {
    a {
      p {
        color: $main-color-text !important;
      }
      .btn-violet {
        border-color: $main-color-text;
        color: $main-color-text;
        &:hover {
          border-color: #9c5fd4;
          background-color: #9c5fd4;
          color: white;
          box-shadow: none;
        }
      }
    }
  }
}

#menu {
  display: flex;
  transition: 0.6s;
  z-index: 1024;
  height: 73px;
  justify-content: flex-end;
  width: calc(100% - 50px);
  margin: 0;
  padding: 0 25px;
  position: fixed;
  top: 0;
  left: 0;

  .item-nav {
    padding: 0 25px;
    height: 73px;
    a {
      text-decoration: none;
      p {
        color: white;
        font-size: 18px;
        margin: 0;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

//home page
#homepage {
  min-height: calc(100vh - 73px);
  width: 100%;
  padding: 73px 0 150px 0;
  background: linear-gradient(35deg, #9c5fd4, #458bed);
  &:before {
    content: "";
    position: absolute;
    bottom: -150px;
    display: block;
    width: 100%;
    height: 150px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  }

  .banner-home {
    display: flex;
    justify-content: center;
    .content {
      color: white;
      max-width: 600px;
      min-width: 600px;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: calc(100vh - 230px);
      .logo {
        width: 65px;
        height: 98px;
        margin: 0 0 75px 10px;
      }
      h1 {
        font-size: 42px;
        margin: 0;
      }
      p {
        font-size: 20px;
        font-weight: normal;
        margin: 40px 0;
      }
    }
    .illustration {
      margin: 0 0 0 50px;
      max-width: 530px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: calc(100vh - 180px);
      .display-card {
        display: flex;
        justify-content: center;
        .card-component {
          transform: rotateY(-35deg) rotateX(25deg) rotate(8deg) rotateZ(-3deg);
        }
      }
      .position-top {
        .card-component {
          position: relative;
          top: 120px;
          left: 45px;
        }
      }
      .position-bottom {
        .card-component {
          position: relative;
          z-index: 3;
          top: -120px;
          left: -45px;
        }
      }
    }
  }
}

//card component
.card-component {
  background-color: white;
  width: 225px;
  height: 275px;
  border-radius: 8px;
  margin: 3px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  .card-content {
    color: black;
    padding: 10px;
    p {
      margin: 0;
    }
  }
  .card-illustration {
    background-color: #e5e5e5;
    width: 100%;
    height: 135px;
    border-radius: 8px 8px 0 0;
  }
}

//Contact page
#contact-page {
  padding: 73px 0 0 0;
  background: linear-gradient(35deg, #9c5fd4, #458bed);
  min-height: calc(100vh - 73px);
  .banner-home {
    display: flex;
    justify-content: center;
    height: calc(100vh - 73px);
    .content {
      color: white;
      max-width: 600px;
      min-width: 600px;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: calc(100vh - 230px);
      .logo {
        width: 65px;
        height: 98px;
        margin: 0 0 75px 10px;
      }
      h1 {
        font-size: 42px;
        margin: 0;
      }
      p {
        font-size: 20px;
        font-weight: normal;
        margin: 40px 0;
      }
    }
    .container-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .form-contact {
        color: $main-color-text;
        background-color: white;
        border-radius: 7px;
        height: fit-content;
        padding: 35px 15px 55px 15px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
        transform: rotateY(19deg) rotateX(-10deg) rotate(2deg);
        h2 {
          margin: 0 0 35px 0;
          text-align: center;
        }

        label {
          display: block;
          margin: 15px 15px 5px 20px;
        }

        textarea {
          margin: 0 15px;
          width: calc(100% - 50px);
          min-height: 115px;
          border: 1px solid #efe5e5;
          border-radius: 6px;
          box-shadow: 3px 3px 12px #e4e3e3;
          padding: 5px 10px;
          &:focus {
            outline: none;
          }
        }

        input {
          margin: 0 15px;
          border: 1px solid #e5e5e5;
          padding: 10px 15px;
          border-radius: 6px;
          box-shadow: 3px 3px 12px #e4e3e3;
          &:focus {
            outline: none;
          }
        }
        .container-input {
          display: flex;
        }
      }
    }
  }
  .other-information {
    display: flex;
    .information {
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: $main-color-text;
      min-width: 300px;
      background-color: white;
      height: 350px;
      padding: 25px 25px 25px 50px;
      label {
        margin: 20px 0 5px 0;
        display: block;
        font-weight: bold;
      }
      p {
        margin: 0;
      }
    }
    .map {
      width: calc(100% - 375px);
      height: 100%;
      iframe {
        width: 100%;
        height: 400px;
      }
    }
  }
}

//Login page
#login-page {
  padding: 73px 0 0 0;
  background: linear-gradient(35deg, #9c5fd4, #458bed);
  min-height: calc(100vh - 73px);
}
