//Login page
#login-page {
  background: linear-gradient(35deg, #9c5fd4, #458bed);
  min-height: calc(100vh);
  width: 100%;
  display: flex;

  label {
    display: block;
    color: $main-color-text;
    margin: 0 0 5px 0;
    font-weight: bold;
  }
  input {
    padding: 8px 15px;
    border-radius: 8px;
    border: 1px solid #e7e7e7;
    background-color: #e7e7e7;
    color: $main-color-text;
    width: calc(100% - 30px);
    &:focus {
      outline: none;
      border-radius: 8px;
      border: 1px solid #b188d8;
    }
  }
  .error-log {
    color: $color-error;
    font-weight: normal;
    font-size: 12px;
    margin: 10px 0 0 0;
  }
  .btn {
    background: linear-gradient(35deg, #9c5fd4, #458bed) !important;
    color: white;
    border: none;
    font-size: 15px !important;
    padding: 8px 25px;
    margin: 15px 0 0 0;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    &:hover {
      background: linear-gradient(35deg, #9653d4, #3784f0) !important;
    }
  }

  .container-logs {
    width: 50%;
    background-color: white;
    height: 100vh;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: center;
    flex-direction: column;

    .container-form {
      #container-email-log,
      #container-password-log {
        padding: 25px;
        border-radius: 8px;
        background-color: white;
        width: 100%;
        max-width: 400px;
        position: relative;
      }

      #container-email-log {
        transition: 0.4s;
        padding: 25px 25px 45px 25px;
        top: 0;
        left: 100%;
        transform: translateX(-85%);
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      }

      #container-name-log {
        padding: 17px 25px 25px 25px;
        border-radius: 8px;
        background-color: white;
        width: 100%;
        max-width: 400px;
        position: relative;
        transition: 0.4s;
        top: -20px;
        left: 100%;
        transform: translateX(-100%);
        box-shadow: none;
        opacity: 0;
        height: 140px;
        label {
          color: white;
          margin: 8px 0 5px 0;
        }
        input {
          display: none;
        }
      }

      #container-password-log {
        transition: 0.4s;
        top: -200px;
        left: 100%;
        transform: translateX(-73%);
        box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
        .underButton {
          color: $main-color-text;
          font-size: 12px;
          span {
            text-decoration: underline;
            cursor: pointer;
            &:hover {
              font-weight: bold;
            }
          }
        }
      }

      #title {
        padding: 0 100px;
        transition: 0.4s;
        color: $main-color-text;
        font-size: 36px;
        width: fit-content;
        margin: 0 0 25px auto;
      }

      .animation-title-register {
        transform: translateX(100%);
        color: white !important;
      }

      .animation-email-register {
        transform: translateX(-15%) !important;
      }

      .animation-name-register {
        transform: translateX(5%) !important;
        box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
        opacity: 1 !important;
        label {
          color: $main-color-text !important;
        }
        input {
          display: block !important;
        }
      }

      .animation-password-register {
        top: -35px !important;
        transform: translateX(-27%) !important;
      }
    }
  }
}

//responsive
@media (max-width: 1020px) {
  #login-page {
    .container-logs {
      .container-form {
        #container-email-log,
        #container-password-log,
        #container-name-log {
          max-width: 310px;
        }

        #container-email-log {
          padding: 20px 25px 42px 25px;
        }

        #container-name-log {
          padding: 8px 25px 25px 25px;
        }

        #container-password-log {
          padding: 15px 25px;
        }

        #title {
          font-size: 32px;
        }

        label {
          font-size: 14px;
        }
      }
    }
  }
}
